<!DOCTYPE html>
<html>
<head>
  <title>Dumb Things I Have to Do Today</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Dumb Things I Have to Do Today</h1>
<%= yield %>

</body>
</html>
